<!-- structural directives: *ngIf *ngFor *ngSwitch -->

<!-- *ngIf="contidion; else elseBlock" -->
<p *ngIf="movies.length == 0; else countBlock">No movies in the cinema yet!</p>
<ng-template #countBlock>
    <p>We have {{movies.length}} movies in the cimena collection!</p>
</ng-template>

<!-- attribute directives: [class.name]="condition" -->

<ul>
    <!-- *ngFor="let name of collection" -->
    <li *ngFor="let m of movies" [class.new-movie]="m.isCurrent == true" (click)="switchCurrentStatus(m)"
        (dblclick)="deleteMovie(m)">
        {{m.title}}: {{m.genres.join("/")}}, {{m.duration}}
    </li>
</ul>

<div>
    <button (click)="sortByYear()">Sort by Year</button>
    <button (click)="clear()">Clear List</button>
</div>