<div class="movie-cover">
    <img mat-card-image
        src="https://marketplace.canva.com/EAFH3gODxw4/1/0/1131w/canva-black-%26-white-modern-mystery-forest-movie-poster-rLty9dwhGG4.jpg"
        alt="Movie Image">
</div>
<h1>{{movie?.title}}</h1>
<hr>
<p>Genres: {{movie?.genres?.join(' / ')}}</p>
<p>Year: {{movie?.year}}</p>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit perferendis libero sapiente ab delectus asperiores
    eaque voluptate nostrum doloribus placeat ad, laudantium iure, veniam quibusdam quis similique! Voluptate, error
    enim.
</p>